.tag {
  position: absolute;
  padding: 2px 5px;
  font-size: 15px;
  color: #4485ea;
  opacity: 0.3;
}

.tag:hover {
  opacity: 1;
}

#dropzone {
  height: 150px; /* Adjust height as needed */
  border: 2px dashed #ccc; /* Optional dashed border */
  border-radius: 5px; /* Rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Indicate clickable area */
  margin: 10px auto; /* Optional margin for centering */
  background: #f2f2f2; /* Light gray background */
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
}

#dropzone.dragover {
  background: #e6e6e6; /* Slightly darker background on drag-over */
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.2); /* More prominent inner shadow */
}

#uploadFile {
  display: none;
}

.documentContainer {
  padding: 1rem 1.4rem;
  border: 1px solid #222;
  border-radius: 4px;
}

.documentContainer + .documentContainer {
  margin-top: 10px;
}

.document {
  line-height: 3;
  overflow-x: scroll;
  white-space: pre-wrap;
}

main {
  margin: 0 auto;
  max-width: 60em;
  padding: 20px 0px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.concept {
  padding: 1rem 1.4rem;
  border: 1px solid #aaa;
  border-radius: 0.5em;
}

.sourceName {
  margin-top: 4px;
  padding: 2px 8px;
  background-color: powderblue;
  border-radius: 100px;
  width: fit-content;
  font-size: 12px;
}

.meaning {
  font-size: 80%;
  padding-left: 20px;
  color: #222;
}

.semanticTypes {
  font-size: 90%;
  margin-top: 5px;
  text-align: right;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

.synonyms {
  font-size: 80%;
}

.childConcept {
  padding-left: 20px;
}

details {
  border-radius: 0.5rem;
  margin: 1rem 0;
  transition: 50ms;
}
details[open] {
  padding-bottom: 1em;
}

summary::before,
summary::after {
  color: #ccc;
  transition: 200ms;
}

@layer markers {
  summary {
    position: relative;
  }
  summary::marker {
    content: none;
  }
  summary::before,
  summary::after {
    content: "";
  }
  summary::before,
  summary::after {
    width: 0.75em;
    height: 0;
    border-bottom: 2px solid;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    transform: translateY(-50%);
  }
  summary::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  }
  [open] summary::after {
    transform: rotate(0deg);
  }
}

/* styles ported over from the second example */
@layer step2styles {
  details {
    border: 1px solid #ccc;
    padding: 0 1rem;
  }
  details[open] {
    padding-bottom: 1em;
  }
  summary {
    padding: 1rem 2em 1rem 0;
    cursor: pointer;
  }
}

.drawerContainer {
  position: relative;
  min-height: 100vh;
}

.drawer {
  z-index: 999;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: stretch;
  top: 0;
  bottom: 0;
  right: 0;
  width: 23em;
  transform: translateX(100%);
  transition: transform 0.1s ease-in-out; /* Smooth slide animation */
}

.innerDrawer {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
}

.innerDrawer .flex {
  display: flex; /* Enable flexbox for layout */
  padding: 0.5em;
  flex-direction: column; /* Arrange elements vertically */
  gap: 0.5em;
}

.drawer.open {
  transform: translateX(0);
}

#searchBar {
  position: sticky;
  padding: 5px;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  margin-bottom: 0.5em;
}

#toggleConceptSearchBtn {
  /* margin-top: 10px; */
  width: 3em;
  height: 3em;
  font-weight: bold;
  /* bottom: 0; */
  /* color: white; */
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  bottom: 10px; /* Adjust for spacing from bottom */
  transform: translateX(-98%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  clip-path: inset(-5px 0px -5px -5px);
}

#toggleConceptSearchBtn:hover {
  background-color: #eee;
  cursor: pointer;
}

.concepts {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 0.5em;
}

.conceptHeader {
  display: flex;
  align-items: center;
  gap: 0.3em;
  margin-bottom: 0.5em;
}

#deleteTip {
  position: absolute;
  display: none;
  padding: 0.5em;
  color: #4b555c;
  font-weight: bold;
  border-radius: 0.5em;
  background-color: cornsilk;
  z-index: 999999;
}

/* CSS */
.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

/* .conceptHeader button { */
/*   background-color: #ffffff00; */
/*   color: #000; */
/*   border: none; */
/*   cursor: pointer; */
/* } */
/**/
/* .conceptHeader button:active { */
/*   background-color: #ffffff00; */
/*   color: #aaa; */
/*   border: none; */
/*   cursor: pointer; */
/* } */
